.todo-header {
  font-size: 25px;
}

.delete {
  display: none;
}
#time-selector {
  padding: 8px;
  margin-left: 10px;
}

li {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 2em;
  margin: 0.5em 0;
  background: #dad2ca;
  color: #444;
  text-decoration: none;
  border-radius: 0.3em;
  transition: 0.3s ease-out;
}
li > button {
  font-weight: normal;
  border: none;
  float: right;
  color: aliceblue;
  font-weight: 800;
  background-color: #254e58;
  margin-left: 5px;
}
h6 {
  display: inline-block;
  float: right;
  padding: 5px;
  font-weight: bold;
}
#completed-task > li {
  background-color: lightgreen;
}
