body {
  font: 14px/26px "Bungee", Helvetica, Arial, sans-serif;
  color: #222;
  margin: 0px;
  padding: 0px;
  text-transform: uppercase;
  background-color: #88bdbc;
}

#head {
  text-align: center;
  margin: 20px;
}

@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
}
#column-1 {
  display: flex;
  justify-content: center;
}
#todo-content {
  list-style-type: none;
}

#ul-todo {
  list-style-type: none;
}
.form-floating {
  width: 300px;
  padding: 3px;
}
.col {
  padding: 10px;
}
#userTime {
  padding: 10px;
  margin-top: 8px;
}
#enter {
  padding: 10px;
  margin-top: 8px;
  width: 100px;
  background-color: #254e58;
}
h4 {
  display: flex;
  justify-content: center;
}
h2,
h4 {
  font-family: "Roboto Mono", monospace;
  font-weight: bold;
  color: #112d32;
}
