.todo-header{
    font-size: 48px;
}
#userinput{
    padding: 8px;
}
#enter{
    padding: 8px;
    margin-left: 12px;
}
.vl {
    border-left: 6px solid black;
    height: 800px;
    position: absolute;
    left: 50%;
    bottom: 0%;
    margin-left: -3px;
    top: 100px;
}
li{
    background-color: burlywood;
    margin: 5px;
}
li:hover{
    background-color: rgb(138, 233, 233);
}
li > button {
	font-weight: normal;
	background: none;
	border: none;
	float: right;
	color: #025f70;
	font-weight: 800;
    background-color: blanchedalmond;
}
.done {
	background: #51DF70 !important;
	color: #00891E;
}

.delete {
	display: none;
}
#time-selector{
    padding: 8px;
    margin-left: 10px;
}